button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    transition: 0.2s;
    margin: 3%;
    display: inline-block;
    font-size: 1.5vw;
}

.deleteButton {
    background: indianred;
}

.editButton {
    background: deepskyblue;
}

.addButton, .saveButton {
    background: greenyellow;
    color: black;
}