table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

h1{
    text-align: center;
}


input, textarea {
    outline: none;
    border: none;
    text-align: center;
    font-size: 18px;
    overflow-x: hidden;
    resize: none;
}

th, td {
    padding: 20px;
    font-size: 24px;
}

.titleTr{
    border: 2px solid #333;
}

.newTodoUserId{
    border: 1px solid black;
    font-size: 18px;
}

.editInput {
    border: 3px solid blue;
    font-size: 24px;
}

tr {
    text-align: center;
    border: 1px solid #333;
}

button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    transition: 0.2s;
}

.deleteButton {
    background: indianred;
}

.editButton {
    background: deepskyblue;
}

.addButton, .saveButton {
    background: greenyellow;
    color: black;
}