table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}


input {
    outline: none;
    border: none;
    text-align: center;
    font-size: 18px;
}

th, td {
    padding: 20px;
}

tr {
    text-align: center;
    border: 1px solid #333;
}

button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    transition: 0.2s;
}

#deleteButton {
    background: indianred;
}

#editButton {
    background: deepskyblue;
}

#addButton,#saveButton {
    background: greenyellow;
    color: black;
}

