table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

h1{
    text-align: center;
}


input, textarea {
    outline: none;
    border: none;
    text-align: center;
    font-size: 2vw;
    overflow-x: hidden;
    resize: none;
}

th, td {
    font-size: 3vw;
    text-align: center;
    width: 50%;
}

.tableHeader{
    border: 2px solid #333;
}

.newTodoUserId{
    border: 1px solid black;
    font-size: 2vw;
    width: 100%;
}

.editInput {
    border: 3px solid blue;
    font-size: 2.5vw;
}

tr {
    text-align: center;
    border: 1px solid #333;
}